* {
    all: unset;
    font-family: "JetBrainsMono";
    font-size: 16px;
}

#window {
    background-color: transparent;
    color: #9699b7;
}

#outer-box {
    background-image:
        linear-gradient(to left, #292a37 50%, transparent 50%),
        url("file:///home/rafael/.config/home-manager/pics/wallpaper.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 70rem;
    border: 2px solid #44465c;
}

#input {
    /* empurra para a metade direita */
    /* ocupa metade da largura */
    padding: 0.5rem;
    border: 2px solid #44465c;
    border-top: 0px;
    margin-left: 35rem;
    background-color: #303241;
}

#entry {
    border: 2px solid #44465c;
    border-top: 0px;
    padding: 0.25rem 0.75rem;
    margin-left: 35rem;
    color: #9699b7;
}

#entry:selected {
    border: 2px solid #44465c;
    border-top: 0px;
    background-color: #303241;
    margin-left: 35rem;
    color: #d9e0ee;
}
