window {
  margin: 10px;
  background-color: #24283b;
  border: 2px solid #7aa2f7;
  border-radius: 8px;
  font-family: JetBrains Mono, sans-serif;
  font-size: 14px;
}

#input {
  margin: 5px;
  background-color: #1a1b26;
  color: #c0caf5;
  border: none;
  border-radius: 4px;
}

#entry {
  padding: 5px;
  color: #c0caf5;
}

#entry:selected {
  background-color: #7aa2f7;
  color: #1a1b26;
  border-radius: 4px;
}
